@mixin box-sizing($boxing) {
  -webkit-box-sizing: $boxing;
  -moz-box-sizing: $boxing;
  box-sizing: $boxing;
}

@mixin clearfix {
  display: block;
  _height: 1px;
  zoom: 1;

  &:before,
  &:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  &:after {
    clear: both;
  }
}

@mixin speak{
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  padding:0 ;
  border:0 ;
  height: 1px ;
  width: 1px ;
  overflow: hidden;
  display: block;
}

.clearfix{
  @include clearfix;
}
.speak{
  @include speak;
}
